# directories

data/speaker0/*
data/speaker1/*
venv/



# Don't ignore these "placeholder" files

!data/.gitkeep
!data/speaker0/.gitkeep
!data/speaker1/.gitkeep






# files

sample.ipynb
README.md

